<navigation-bar></navigation-bar>

<!-- Breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
      <a routerLink="/"><i class="fas fa-home mr-1"></i></a>/ Καλάθι
  </div>
</div>

<!-- Shopping Cart -->
<section  class="cart">
  <div class="container">
      <h1 class="text-center">Καλάθι</h1>
      <div *ngIf="!isUserCartEmpty()" class="row table-content">
              <div class="col-12">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="text-center">
                                  <th>Εικόνα</th>
                                  <th>Προιόν</th>
                                  <th>Ποσότητα</th>
                                  <th>Τιμή</th>
                                  <th>Σύνολο</th>
                              </thead>
      
                              <tbody>
                                  <tr *ngFor="let product of cartProducts">
                                      <td><img class="d-block mx-auto" src="{{product.imageUrl}}" /></td>
                                      <td class="text-left">
                                          <a routerLink="/product/{{product.name}}" class="brand">{{product.brand}}</a>
                                          <a routerLink="/product/{{product.name}}" class="name">{{product.name}}</a>
                                          <a class="delete" (click)="deleteProduct(product)" >Αφαίρεση</a>
                                     </td>
                                      <td>
                                          <input type="number" class="form-control" [(ngModel)]="product.quantity" (input)="updateCart(product)">
                                      </td>
                                      <td class="text-center">{{product.price}}€</td>
                                      <td class="text-center">{{product.price * product.quantity}}€</td>
                                  </tr>
      
                                  <tr>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td class="text-center">Σύνολο</td>
                                      <td class="text-center">{{getTotalCartPrice()}}€</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
              </div>
              
      </div>

      <div *ngIf="isUserCartEmpty()" class="mt-4"><p>Το καλάθι σου είναι άδειο!.</p></div>

      <i *ngIf="!isUpdateProductRequestDone" class="fas fa-sync-alt fa-2x fa-spin spinner" ></i>
      
      <div *ngIf="!isUserCartEmpty()" class="row">
          <div class="col-sm-12 col-md-6">
              <button class="btn btn-block btn-light" (click)="navigateToIndex()">Συνέχισε τις αγορές</button>
          </div>

          <div class="col-sm-12 col-md-6">
              <button class="btn btn-block btn-primary" (click)="navigateToCheckout()">Checkout</button>
          </div>
      </div>
      
  </div>  
</section>

<my-footer></my-footer>
