<navigation-bar></navigation-bar>

<!-- Breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
      <a routerLink="/"><i class="fas fa-home mr-1"></i></a>/
      Cart
  </div>
</div>

<!-- Shopping Cart -->
<section  class="cart">
  <div class="container">
      <h1 class="text-center">Καλάθι</h1>
      <div class="row table-content">
              <div class="col-12">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="text-center">
                                  <th>Εικόνα</th>
                                  <th>Προιόν</th>
                                  <th>Ποσότητα</th>
                                  <th>Τιμή</th>
                                  <th>Σύνολο</th>
                              </thead>
      
                              <tbody>
                                  <tr *ngFor="let product of cartProducts">
                                      <td><img class="d-block mx-auto" src="{{product.imageUrl}}" /></td>
                                      <td class="text-center">
                                          <div>{{product.name}}</div>
                                          <div>Εταιρία : {{product.brand}}</div>
                                    </td>
                                      <td>
                                            <div class="input-group">
                                                <button type="button" (click)="decreaseProductQuantity(product)" [disabled] = "isProductQuantityOne(product)" >-</button>
                                                <input type="number"step="1" value="{{product.quantity}}">
                                                <button type="button" (click)="increaseProductQuantity(product)">+</button>
                                            </div>
                                      </td>
                                      <td class="text-center">{{product.price}}€</td>
                                      <td class="text-center">{{product.price * product.quantity}}€</td>
                                  </tr>
      
                                  <tr>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td class="text-center">Μεταφορικά</td>
                                      <td class="text-center">6€</td>
                                  </tr>
      
                                  <tr>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td class="text-center">Σύνολο</td>
                                      <td class="text-center">{{getTotalCartPrice()}}</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
              </div>
              
      </div>
      
      <div class="row">
          <div class="col-sm-12 col-md-6">
              <button class="btn btn-block btn-light">Συνέχισε τις αγορές</button>
          </div>

          <div class="col-sm-12 col-md-6">
              <button class="btn btn-block btn-primary">Ολοκλήρωση αγοράς</button>
          </div>
      </div>
      
  </div>  
</section>

<my-footer></my-footer>
