/* --- Breadcrumbs --- */

.breadcrumbs{
    padding-top: 32px;
    padding-bottom: 32px;
}

 /* --- Shopping Cart --- */

section.cart{
    margin-top: 16px;
    margin-bottom: 48px;
  }

  section.cart .table-content{
    margin-top: 64px;
  }

  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  }

  section.cart table tr td{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  section.cart table td div.input-group{
    width: 176px;
    margin-left:auto;
    margin-right: auto;
  }
  
  section.cart table td div.input-group button{
    width: 40px;
    height: 40px;
    margin-left:0;
    margin-right: 0;
  }
  
  section.cart table td div.input-group input{
    text-align: center;
    width: 96px;
    height: 40px;
    display: inline-block;
  }