/* --- Breadcrumbs --- */

.breadcrumbs{
    padding-top: 8px;
    padding-bottom: 16px;
}

 /* --- Shopping Cart --- */

section.cart{
    margin-top: 16px;
    margin-bottom: 48px;
  }

  section.cart .table-content{
    margin-top: 64px;
  }

  section.cart .table-responsive{
    overflow-x: hidden;
  }

  section.cart table tr td{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  section.cart table tr, section.cart table tr{
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
  }

  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  section.cart table td input.form-control{
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
  }

  section.cart table td a.brand{
    display: block;
    font-size: 16px;
    font-weight: 300;
    margin-bottom:8px;
  }

  section.cart table td a.brand:hover, section.cart table td a.name:hover{
    text-decoration-style: none;
  }

  section.cart table td a.name{
    display: block;
    font-size: 18px;
    font-weight: 400;
    margin-bottom:8px;
  }

  section.cart table td a.delete{
    font-size:14px;
    font-weight: 400;
    display: inline-block;
    margin-top: 16px;
  }

  section.cart a:not([href]):not([tabindex]):hover{
    color:red;
    cursor: pointer;
  }

  section.cart a:not([href]):not([tabindex]){
    color:red;
  }