<navigation-bar></navigation-bar>

<!-- Breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
      <a routerLink="/"><i class="fas fa-home mr-1"></i></a>/Αξιολόγηση
  </div>
</div>

<section>
  <div *ngIf="isAuthenticated" class="container">
    <h1>Αξιολόγησε το {{productName}}</h1>

    <form *ngIf="!wasReviewCreated" name="form" (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
            <label>Όνομα</label>
            <input type="text" name="username" class="form-control" [(ngModel)]="review.user.username" [disabled]="true">
        </div>

        <div class="form-group">
            <label>Κείμενο</label>
            <textarea class="form-control" [(ngModel)]="review.text" name="textarea"></textarea>
        </div>

        <div class="form-group">
          <label>Βαθμολογία</label>
          <div>
            <rating (ratingEmitter)="getRating($event)"></rating>
          </div>
          <div class="rating-error" *ngIf="!isRatingSelected() && wasSubmitButtonClicked">Πρέπει να επιλέξετε βαθμολογία</div> 
        </div>

        <div class="submit">
            <button class="btn btn-primary">Προσθήκη αξιολόγησης</button>
        </div>
    </form>

    <div *ngIf="wasReviewCreated">H αξιολογήση πραγματοποιήθηκε επιτυχώς!</div>
  </div>

  <div *ngIf="!isAuthenticated" class="container">
      <div class="login">Πρέπει να <a routerLink="/login">συνδεθείτε</a>, για να αξιολογήσετε το προιόν.</div>
  </div>
  
</section>

<my-footer></my-footer>
