<navigation-bar></navigation-bar>

<!-- Breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
      <a routerLink="/"><i class="fas fa-home mr-1"></i></a>/Αξιολόγηση
  </div>
</div>

<section>
  <div class="container">
    <h1>Προσθήκη αξιολόγησης</h1>

    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
            <label>Όνομα</label>
            <input type="text" name="username" class="form-control" [(ngModel)]="review.userName" #username="ngModel" [ngClass]="{'is-invalid' : f.submitted && (username.invalid || usernameError)}" required minlength="2">
            <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
                <div *ngIf="username.errors.required">Πρέπει να συμπληρώσετε το Username</div>
                <div *ngIf="username.errors.minlength">Το Username πρέπει να έχει μήκος τουλάχιστον δύο χαρακτήρες</div>
            </div>
            <div *ngIf="usernameError" class="invalid-feedback">Το username υπάρχει ήδη</div>
        </div>

        <div class="form-group">
            <label>Κείμενο</label>
            <textarea class="form-control" [(ngModel)]="review.text" name="textarea"></textarea>
        </div>

        <div class="form-group">
          <label>Βαθμολογία</label>
          <div>
            <rating></rating>
          </div>
        </div>

        <div class="submit">
            <button class="btn btn-primary">Προσθήκη αξιολόγησης</button>
        </div>
    </form>
  </div>
</section>

<my-footer></my-footer>
