/* --- Breadcrumbs --- */

.breadcrumbs{
    padding-top: 8px;
    padding-bottom: 16px;
}

section{
    padding-bottom: 32px;
  }
  
  section h1{
    text-align: center;
    margin-bottom: 32px;
  }
  
  section form .form-group input, section form .form-group textarea{
    background:	#E0E0E0;
  }

  section form .form-group textarea.form-control{
    background:	#E0E0E0;
    height: 10rem;
  }
  
  section form .submit{
    text-align: center;
    margin-top: 32px
  }
  
  section form .submit button{
  padding-left: 24px;
  padding-right: 24px;
  }