<navigation-bar></navigation-bar>

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <a routerLink="/"><i class="fas fa-home mr-1"></i></a>
        / <a routerLink="/category/{{categoryRoute}}" class="route" [queryParams]="{ page: pageParam}">{{productCategory}}</a>
        / {{product?.name}}
    </div>
  </div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-4 product-image">
            <img class="img-fluid" src="{{product?.largeImageUrl}}" alt="">
        </div>
        <div class="col-sm-4 product-details">
            <h4>{{product?.name}}</h4>
            <h3>{{product?.price}}€</h3>
            <p><span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
            </p>
            <p><strong>Εταιρία</strong> : {{product?.brand.name}}</p>
            <p><strong>Κωδικός Προιόντος</strong> : 14325</p>
            <p><strong>Πόντοι ανταμοιβής</strong> : 250</p>
            <p><strong>Διαθεσιμότητα</strong> : {{productAvailability}}</p>

            <div *ngIf="isProductAvailable" class="input-group">
                <button type="button" (click)="decreaseProductQuantity()" [disabled] = "isProductQuantityOne()" >-</button>
                <span>{{wantedQuantity}}</span>
                <button type="button" (click)="increaseProductQuantity()">+</button>
            </div>

            <button *ngIf="isProductAvailable" type="button" class="btn btn-primary" [disabled] = "!isAddProductRequestDone" (click)="addProductToCart()">
                <i class="fas fa-cart-plus mr-2"></i>Προσθήκη στο καλάθι
            </button>
        </div>
    </div>
</div>

<i *ngIf="!isAddProductRequestDone" class="fas fa-sync-alt fa-2x fa-spin spinner" ></i>

<!-- Additional Product Informaition -->
<section class="product-information">
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <ul class="nav nav-pills">
                  <li class="nav-item">
                      <a class="nav-link active" data-toggle="pill" href="#description">Περιγραφή</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="pill" href="#additional-info">Επιπλέον Πληροφοριες</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="pill" href="#reviews">Αξιολογήσεις</a>
                  </li>
              </ul>

              <div class="tab-content">
                  <div id="description" class="container tab-pane active">
                      <br>
                      <p>{{product?.description}}</p>
   
                      
                  </div> 
                  <div id="additional-info" class="container tab-pane fade">
                      <br>
                      <p><strong>Health is one of most important things in our life.</strong> 
                          We think that it is a real luck to have a strong health. 
                          Our way of life doesn’t increase the physiological condition of our body. 
                          Alcohol, cigarettes, unhealthy food, stresses and other factors have a great influence on our health. 
                          The human’s immune system is very uncertain thing because there is a countless quantity of different dangerous viruses and bacteria. From ancient times plague and other infectious diseases have been killing people without leaving them any chance to survive.</p>
                  </div>
                  <div id="reviews" class="container tab-pane fade">
                      <br>
                      <p>There are no reviews for this product.</p>
                      <button type="button" class="btn btn-primary">Γράψτε μια αξιολόγηση</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<my-footer></my-footer>

