/* --- Breadcrumbs --- */

.breadcrumbs{
    padding-top: 32px;
    padding-bottom: 32px;
  }
  
  /* --- Addition Product Information--- */
  
  section.product-information{
      margin-top: 24px;
      margin-bottom: 32px;
    }
    
    section.product-information .tab-content #description p{
      margin-bottom: 0;
    }
    
    section.product-information ul li.nav-item a.active{
      background-color: #04BF00;
    }