/* --- Breadcrumbs --- */

.breadcrumbs{
    padding-top: 32px;
    padding-bottom: 32px;
  }

   /* --- Product --- */

.product-details{
  margin-top: 16px;
}

.product-details h3{
  color: #E00000 ;
}

p span.checked{
  color: orange;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  }

  div.product-details div.input-group{
    width: 176px;
    display: inline-block;
    margin-bottom: 16px;
  }
  
  div.product-details div.input-group button{
    width: 40px;
    height: 40px;
  }
  
  div.product-details div.input-group input{
    text-align: center;
    width: 96px;
    height: 40px;
  }

@media (max-width: 576px){

.product-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.product-details{
    text-align: center;
  }
}
  
  /* --- Addition Product Information--- */
  
  section.product-information{
      margin-top: 24px;
      margin-bottom: 32px;
    }
    
    section.product-information .tab-content #description p{
      margin-bottom: 0;
    }
    
    section.product-information ul li.nav-item a.active{
      background-color: #04BF00;
    }