<navigation-bar></navigation-bar>

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
            <a routerLink="/"><i class="fas fa-home mr-1"></i></a>/Αλλαγή κωδικού
    </div>
</div>

<section>
  <div class="container">
      <h1>Αλλαγή κωδικού</h1>
         
      <form *ngIf="!wasPasswordChangeCorrect" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

          <div class="form-group">
              <label>Kωδικός</label>
              <input type="password" name="password" class="form-control" [(ngModel)]="changePasswordRequest.password" #password="ngModel" [ngClass]="{'is-invalid' : f.submitted && password.invalid}" required minlength="6">
              <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                  <div *ngIf="password.errors.required">Πρέπει να πληκτρολογήσετε έναν κωδικό</div>
                  <div *ngIf="password.errors.minlength">Ο κωδικός πρέπει να έχει μήκος τουλάχιστον 6 χαρακτήρες</div>
              </div>
          </div>

          <div class="form-group">
              <label>Επαλήθευση Κωδικού</label>
              <input type="password" name="confirmpassword" class="form-control" [(ngModel)]="confirmationPassword" #confirmpassword="ngModel" [ngClass]="{'is-invalid' : f.submitted && !arePasswordsFieldsTheSame()}">
              <div *ngIf="f.submitted && !arePasswordsFieldsTheSame()" class="invalid-feedback">Οι κωδικοί δεν είναι ίδιοι</div>
          </div>
          <div *ngIf="isTokenInvalid" class="token-error">Το token δεν είναι έγκυρο</div>
          <div *ngIf="isTokenExpired" class="token-error">Το token έχει λήξει</div>

          <div class="submit">
              <button class="btn btn-primary">Αλλαγή κωδικού</button>
          </div>

      </form>

      <p *ngIf="wasPasswordChangeCorrect">Η αλλαγή του κωδικού σας έγινε με επιτυχία</p>
  </div>
</section>

<my-footer></my-footer>
