<navigation-bar></navigation-bar>

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
            <a routerLink="/"><i class="fas fa-home mr-1"></i></a> / Παραγγελία / {{order.id}}
    </div>
</div>

<!-- Order Summary -->
<section class="order container">

    <h1 class="text-center mb-4">Λεπτομέρειες Παραγγελίας</h1>
    <p class="mb-4">Αγαπητέ <strong>{{user}}</strong>, η παραγγελίας σας πραγματοποιήθηκε επιτυχώς.</p>

    <p><strong>Ημερομηνία : </strong> {{date}}</p>
    <p><strong>Αριθμός : </strong> {{order.id}}</p>
    <p><strong>Κατάσταση : </strong>{{order.status}}</p>

    <div class="row order-products">
            <div class="col-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-center">
                                <th>Εικόνα</th>
                                <th>Προιόν</th>
                                <th>Ποσότητα</th>
                                <th>Τιμή</th>
                                <th>Σύνολο</th>
                            </thead>
    
                            <tbody>
                                <tr *ngFor="let product of orderProducts">
                                    <td><img class="d-block mx-auto" src="{{product.imageUrl}}" /></td>
                                    <td class="text-left">
                                        <a routerLink="/product/{{product.name}}" class="brand">{{product.brand}}</a>
                                        <a routerLink="/product/{{product.name}}" class="name">{{product.name}}</a>
                                   </td>
                                    <td>
                                        <div class="text-center">{{product.quantity}}</div>
                                    </td>
                                    <td class="text-center">{{product.price}}€</td>
                                    <td class="text-center">{{product.price * product.quantity}}€</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-center">Μεταφορικά</td>
                                    <td class="text-center">{{shippingCost}}€</td>
                                </tr>
    
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-center">Σύνολο</td>
                                    <td class="text-center">{{getTotalCartPrice()}}€</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>    
    </div>

    <div class="row order-info">
        <div class="col-sm-6 shipping-info">
            <h3>Πληροφορίες αποστολής</h3>
            <div>{{order.shippingInfo.first_name}} {{order.shippingInfo.last_name}}</div>
            <div>{{order.shippingInfo.email}}</div>
            <div>{{order.shippingInfo.street}}</div>
            <div>{{order.shippingInfo.post_code}}</div>
            <div>{{order.shippingInfo.city}}</div>
            <div>{{order.shippingInfo.phone}}</div>
            <div><strong>Μέθοδος αποστολής : </strong>{{order.shippingInfo.method}}</div>
        </div>

        <div class="col-sm-6 billing-info">
            <h3>Πληροφορίες χρέωσης</h3>
            <div>{{order.billingInfo.first_name}} {{order.billingInfo.last_name}}</div>
            <div>{{order.billingInfo.email}}</div>
            <div>{{order.billingInfo.street}}</div>
            <div>{{order.billingInfo.post_code}}</div>
            <div>{{order.billingInfo.city}}</div>
            <div>{{order.billingInfo.phone}}</div>
            <div><strong>Μέθοδος χρέωσης : </strong>{{order.billingInfo.method}}</div>
        </div>

    </div>

    <button type="button" class="btn btn-primary" (click)="navigateToIndex()">Επιστροφή στην αρχική</button>
</section>

<my-footer></my-footer>
