<navigation-bar></navigation-bar>

<!-- Breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
      <a routerLink="/"><i class="fas fa-home mr-1"></i></a>/{{category}}
  </div>
</div>

<!-- Content -->
<section class="container">
  <h1>{{category}}</h1>
  <div class="row">
    <div class="col-md-3 sidebar">
        <category-sidebar [category] = "category"></category-sidebar>
    </div>
    <div class="col-md-9">
        <div class="mb-5">
          <span class="mx-4">Προιόντα 1-10 από 40</span>
          <span>Κατάταξη ως προς:</span>
          <select class="ml-2">
            <option>Αύξουσα Τιμή</option>
            <option>Φθίνουσα Τιμή</option>
          </select>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4 mb-5" *ngFor="let productItem of products">
                 <product-item [product] = "productItem"></product-item>
            </div>
        </div>

        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul> 
    </div>
  </div>
</section>

<my-footer></my-footer>

