<!-- Navigation -->
<nav class="navbar navbar-expand-md" id="firstNavbar">
  <div class="container">
      <a class="navbar-brand" routerLink="/"> <span>Super</span>Pharmacy</a>

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive">
           Menu<i class="fa fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">

           <form class="form-inline mx-auto">
               <div class="input-group">
                   <input class="form-control" type="text" placeholder="">
                   <div class="input-group-append">
                       <button type="button" class="btn btn-primary">Αναζήτηση</button>
                   </div>
               </div>    
           </form>

          <ul class="navbar-nav">
               <li class="nav-item">
                   <a class="nav-link" routerLink="/register">Εγγραφή</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" routerLink="/login">Είσοδος</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" routerLink="/cart">
                       <i class="fas fa-shopping-cart mr-2" ></i>Καλάθι
                   </a>
               </li>
          </ul>
      </div>
  </div>
</nav>

<!-- Navigation -->
<nav class="navbar navbar-expand-md" id="secondNavbar">
  <div class="container">
      <ul class="navbar-nav mx-md-auto">
          <li *ngFor="let category of categories" class="nav-item">
              <a class="nav-link" routerLink="/category/{{category.englishName}}">{{category.greekName}}</a>
          </li>
      </ul>
  </div>
</nav>
