<!-- Navigation -->
<nav class="navbar navbar-expand-lg" id="firstNavbar">
  <div class="container">
      <a class="navbar-brand" routerLink="/"> <span>Super</span>Pharmacy</a>

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive">
           Menu<i class="fa fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">

           <form class="form-inline mx-auto">
               <div class="input-group">
                   <input class="form-control" type="text" placeholder="">
                   <div class="input-group-append">
                       <button type="button" class="btn btn-primary">
                           <i class="fas fa-search"></i>
                        </button>
                   </div>
               </div>    
           </form>

          <ul class="navbar-nav">
               <li *ngIf="!isUserLoggedIn" class="nav-item">
                   <a class="nav-link" routerLink="/register">Εγγραφή</a>
               </li>

               <li *ngIf="!isUserLoggedIn" class="nav-item">
                   <a class="nav-link" routerLink="/login">Είσοδος</a>
               </li>

               <li *ngIf="isUserLoggedIn" class="nav-item user-info">
                  <div>Καλώς ήρθες,</div>
                  <div class="username">{{user}}</div>
               </li>

               <li class="nav-item">
                 <div class="row">
                    <div class="col-sm-3">
                        <a class="nav-link" routerLink="/cart">
                          <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>

                    <div class="col-sm-9">
                        <div><a class="nav-link cart-name" routerLink="/cart">Καλάθι</a></div>
                        <div class="cart-items">3 προιόντα</div>
                    </div>
                </div>
               </li>

               <li *ngIf="isUserLoggedIn" class="nav-item">
                 <a class="nav-link" >Αποσύνδεση</a>
               </li>
          </ul>
      </div>
  </div>
</nav>

<!-- Navigation -->
<nav class="navbar navbar-expand-md" id="secondNavbar">
  <div class="container">
      <ul class="navbar-nav mx-md-auto">
          <li *ngFor="let category of categories" class="nav-item">
              <a class="nav-link" routerLink="/category/{{category.englishName}}" [queryParams]="{ page: pageParam}">{{category.greekName}}</a>
          </li>
      </ul>
  </div>
</nav>
