
a {
  color: #333333;
}

a:focus, a:hover, a:active {
  color: #04BF00;
}

.background-primary {
  background-color: #fff;
}

.background-secondary {
  background-color: #04BF00;
}

.text-primary {
  color: #333333;
}

.btn-primary{
  background-color: #04BF00;
  border-color: #04BF00;
  color:white;  
}

.btn-primary:hover, .btn-primary:hover, .btn-primary:active{
  background-color: #04BF00;
  border-color: #04BF00;
}

/* --- First Navbar --- */

#firstNavbar{
  padding-bottom: 0;
}

#firstNavbar a.navbar-brand{
  font-size: 40px;
}

#firstNavbar a.navbar-brand span{
  color: #04BF00;
  font-weight: 700;
}

  #firstNavbar a.navbar-brand:hover{
    color: #333333;
  }

#firstNavbar input.form-control{
  border: 2px solid #04BF00;
  width: 360px;
}

#firstNavbar ul.navbar-nav a.nav-link{
  font-size: 20px;
}

#firstNavbar ul.navbar-nav a.nav-link i{
  color: #04BF00;
}

@media (max-width: 768px){
  #firstNavbar a.navbar-brand{
    font-size: 28px;
  }

  #firstNavbar input.form-control{
    width: 160px;
  }
}

/* --- Second Navbar --- */

#secondNavbar ul.navbar-nav a.nav-link{
  font-size: 20px;
}

#secondNavbar{
  padding-top: 0;
}

/* --- Popular Products Carousel, Popular Products Carousel --- */

section.popular-products{
  margin-top: 40px;
  margin-bottom: 40px;
}

section.new-products{
  margin-top: 96px;
  margin-bottom: 96px;
}

#carousel-popular-products, #carousel-new-products{
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

section.popular-products .carousel-control-prev-icon, section.new-products .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333333' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 
 section.popular-products .carousel-control-next-icon, section.new-products .carousel-control-next-icon{
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333333' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }

 section.popular-products a.carousel-control-prev, section.new-products a.carousel-control-prev {
   width: 60px;
   height:60px;
   display: block;
   margin-top: auto;
   margin-bottom: auto;
 }
 
 section.popular-products a.carousel-control-next, section.new-products a.carousel-control-next{
  width: 60px;
  height:60px;
  display: block;
  margin-top: auto;
   margin-bottom: auto;
 }

 section.popular-products .product h4, section.new-products .product h4{
   font-size: 16px;
   text-align: center;
   min-height: 45px;
   margin-top: 16px;
 }

 section.popular-products .product p, section.new-products .product p{
  font-size: 24px;
  text-align: center;
  font-weight: 600;
}

 section.popular-products .product button, section.new-products .product button{
  display: block;
  font-size: 14px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px){
  section.popular-products .product h4, section.new-products .product h4{
    min-height: 60px;
  }

  section.popular-products .product, section.new-products .product {
    margin-top: 24px;
  }
}

/* --- Services --- */
section.services{
  background-color: #04BF00;
  color:#fff;
  text-align: center;
  padding-top: 64px;
  padding-bottom: 64px;
}

section.services h3{
  font-size: 18px;
  text-align: left;
}

section.services p{
  font-size: 16px;
  text-align: left;
  margin-top: 16px;
  margin-bottom: 16px;
}

@media (max-width: 768px){
  section.services p:nth-child(2){
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

/* --- Footer --- */
footer{
  text-align: left;
  padding-top: 64px;
  padding-bottom: 64px;
}

footer h3{
  font-size: 18px;
  text-transform: uppercase;
}

footer .menu a{
  font-size: 16px;
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
  text-decoration: none;
}

@media (max-width: 768px){
  footer .container .row{
    text-align: center;
  }

  footer .container .row .col-sm-4:nth-child(2){
    margin-top: 16px;
    margin-bottom: 16px;
  }
}


