
.breadcrumbs{
  padding-top: 8px;
  padding-bottom: 16px;
}

 section{
    padding-bottom: 32px;
  }
  
  section h1{
    text-align: center;
    margin-bottom: 32px;
  }
  
  section form .form-group input{
    background:	#E0E0E0;
  }

  section form .submit{
    text-align: center;
    margin-top: 1rem;
  }
  
  section form .submit button{
    padding-left: 24px;
    padding-right: 24px;
    margin-right: 1rem;
  }
  
  section form .submit a{
    text-decoration: underline;
  }
  
  section form .submit a:hover{
    text-decoration: none;
  }