<navigation-bar></navigation-bar>

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <a routerLink="/"><i class="fas fa-home mr-1"></i></a>/
        Αλλαγή κωδικού
    </div>
</div>

<section>
  <div class="container">
      <h1>Αλλαγή κωδικού</h1>

      <form *ngIf="!wasResetPasswordSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form-group">
              <label>Πληκτρολογήστε το email σας</label>
              <input type="email" class="form-control" name="email" [(ngModel)]="resetPasswordRequest.email" #email = "ngModel" [ngClass]="{'is-invalid': f.submitted && (email.invalid || emailDoesNotExist)}" required email>
              <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                  <div *ngIf="email.errors.required">Πρέπει να συμπληρώσετε το email</div>
                  <div *ngIf="email.errors.email">Το email πρέπει να έχει τη σωστή μορφή</div>
              </div>
              <div *ngIf="emailDoesNotExist" class="invalid-feedback">{{emailDoesNotExistErrorMessage}}</div>
          </div>

          <div class="submit">
            <button class="btn btn-primary">Αποστολή email</button>
          </div>
      </form>

      <p *ngIf="wasResetPasswordSuccessful">Το email αλλαγής κωδικού στάλθηκε επιτυχώς.</p>
  </div>
</section>

<my-footer></my-footer>
