<!-- Services -->
<section  class="services">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h3><i class="fas fa-truck fa-lg mr-3"></i>ΓΡΗΓΟΡΗ ΚΑΙ ΔΩΡΕΑΝ ΔΙΑΝΟΜΗ</h3>
              <p>Άμεση εξυπηρέτηση και δωρεάν μεταφορικά για παραγγελλίες άνω των 39 €</p>
          </div>
          <div class="col-md-4">
              <h3><i class="fas fa-lock fa-lg mr-3"></i> ΑΣΦΑΛΕΙΣ ΠΛΗΡΩΜΕΣ</h3>
              <p>Αναγνωρίζοντας τη σημασία της ασφάλειας των ηλεκτρονικών σας συναλλαγών, η εταιρία μας έχει λάβει όλα τα απαραίτητα μέτρα ώστε να παρέχει υπηρεσίες πληρωμών με τη μέγιστη δυνατή ασφάλεια.</p>
          </div>
          <div class="col-md-4">
              <h3><i class="far fa-credit-card fa-lg mr-3"></i>ΕΓΓΥΗΣΗ ΕΠΙΣΤΡΟΦΗΣ ΧΡΗΜΑΤΩΝ</h3>
              <p>Εγγύηση ασφάλειας ηλεκτρονικών χρηματικών συναλλαγών και δυνατότητα επιστροφής χρημάτων</p>
          </div>
      </div>
  </div>  
</section>