<div class="container content">
  <h1 class="text-center">{{carouselTitle}}</h1>
  <div class="row">
      <div class="col-md-12">
          <div id="carousel-popular-products" class="carousel slide" data-ride="carousel" data-interval="0">

                              
              <div class="carousel-inner">

                  <div *ngFor = "let productList of productLists; let isFirstItem = first" [ngClass] = " isFirstItem ? 'carousel-item active' : 'carousel-item'">

                      <div class="row">

                          <div class="col-sm-6 col-md-6 col-lg-3" *ngFor="let productItem of productList">
                              <product-item [product] = "productItem"></product-item>
                          </div>

                      </div>

                  </div>                         


              </div>
              
              <a class="carousel-control-prev" href="#carousel-popular-products" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#carousel-popular-products" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
              </a>
          </div>
      </div>
  </div>
</div>  
