<navigation-bar></navigation-bar>

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <a routerLink="/"><i class="fas fa-home mr-1"></i></a>/
        Είσοδος
    </div>
</div>

<section *ngIf="isRedirectedFromRegister" class="my-4">
    <div class="container">
        <div  class="alert alert-success text-center">
             Η εγγραφή πραγματοποιήθηκε επιτυχώς
        </div>
    </div>
</section>

<!-- Login -->
<section class="login">
        <div class="container">
            <h1>Είσοδος</h1>

            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label>E-mail</label>
                    <input type="email" class="form-control" name="email" [(ngModel)]="userCredentials.email" #email = "ngModel" [ngClass]="{'is-invalid': f.submitted && (email.invalid || emailDoesNotExist)}" required email>
                    <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                        <div *ngIf="email.errors.required">Πρέπει να συμπληρώσετε το email</div>
                        <div *ngIf="email.errors.email">Το email πρέπει να έχει τη σωστή μορφή</div>
                    </div>
                    <div *ngIf="emailDoesNotExist" class="invalid-feedback">{{emailDoesNotExistErrorMessage}}</div>
                </div>

                <div class="form-group">
                    <label>Kωδικός</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="userCredentials.password" #password = "ngModel" [ngClass]="{'is-invalid': f.submitted && (password.invalid || passwordIsNotCorrect)}" required>
                    <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                        <div *ngIf="password.errors.required">Πρέπει να πληκτρολογήσετε έναν κωδικό</div>
                    </div>
                    <div class="forgot-password"><a routerLink="/user/resetPassword">Ξέχασες τον κωδικό σου?</a></div>
                    <div *ngIf="passwordIsNotCorrect" class="invalid-feedback">{{passwordIsNotCorrectErrorMessage}}</div>
                </div>

                <div class="submit">
                    <button class="btn btn-primary">Είσοδος</button>
                </div>
               </form>
        </div>
</section>

<my-footer></my-footer>

