<navigation-bar></navigation-bar>

<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <a routerLink="/"><i class="fas fa-home mr-1"></i></a>/
        Είσοδος
    </div>
</div>

<!-- Login -->
<section class="login">
        <div class="container">
            <h1>Είσοδος</h1>

            <form>
                <div class="form-group">
                    <label>E-mail</label>
                    <input type="email" class="form-control"placeholder="E-Mail" name="email">
                </div>

                <div class="form-group">
                    <label>Kωδικός</label>
                    <input type="password" class="form-control"  placeholder="Κωδικός" name="password">
                </div>
                <div class="submit">
                    <button type="submit" class="btn btn-primary">Είσοδος</button><a href="#">Ξέχασες τον κωδικό σου?</a>
                </div>
               </form>
        </div>
</section>

<my-footer></my-footer>
