<navigation-bar></navigation-bar>

<!-- Breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
      <a routerLink="/"><i class="fas fa-home mr-1"></i></a>/
      Ολοκλήρωση Αγοράς
  </div>
</div>

<!-- Checkout -->
<section  class="checkout">
<div class="container">
  <h1 class="text-center">Ολοκλήρωση Αγοράς</h1>

  <div class="row mt-5">
    <div class="col-sm-8">
        <form (ngSubmit)="f.form.valid && onSubmit()" id="ngForm" #f="ngForm" novalidate>
            <h4>Email</h4>

             <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" class="form-control" [(ngModel)]="orderDetails.email" #email="ngModel" [ngClass]="{'is-invalid' : f.submitted &&  email.invalid}" required email>
                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors.required">Πρέπει να συμπληρώσετε το email</div>
                    <div *ngIf="email.errors.email">Το email πρέπει να έχει τη σωστή μορφή</div>
                </div>
            </div>

            <h4 class="mt-4 mb-3">Διεύθυνση αποστολής</h4>

            <div class="form-group">
               <label>Όνομα</label>
               <input type="text" name="firstname" class="form-control" [(ngModel)]="orderDetails.shippingInfo.first_name" #firstname="ngModel" [ngClass]="{'is-invalid' : f.submitted && firstname.invalid}" required minlength="2">
               <div *ngIf="f.submitted && firstname.invalid" class="invalid-feedback">
                <div *ngIf="firstname.errors.required">Πρέπει να συμπληρώσετε το όνομα</div>
                <div *ngIf="firstname.errors.minlength">Το όνομα πρέπει να έχει μήκος τουλάχιστον δύο χαρακτήρες</div>
               </div>
            </div>

            <div class="form-group">
               <label>Επίθετο</label>
               <input type="text" name="lastname" class="form-control" [(ngModel)]="orderDetails.shippingInfo.last_name" #lastname="ngModel" [ngClass]="{'is-invalid' : f.submitted && lastname.invalid}" required minlength="2">
               <div *ngIf="f.submitted && lastname.invalid" class="invalid-feedback">
                 <div *ngIf="lastname.errors.required">Πρέπει να συμπληρώσετε το επίθετο</div>
                 <div *ngIf="lastname.errors.minlength">Το επίθετο πρέπει να έχει μήκος τουλάχιστον δύο χαρακτήρες</div>
               </div>
            </div>

            <div class="form-group">
               <label>Διεύθυνση</label>
               <input type="text" name="street" class="form-control" [(ngModel)]="orderDetails.shippingInfo.street" #street="ngModel" [ngClass]="{'is-invalid' : f.submitted && street.invalid}" required minlength="2">
               <div *ngIf="f.submitted && street.invalid" class="invalid-feedback">
                <div *ngIf="street.errors.required">Πρέπει να συμπληρώσετε την διέυθυνση</div>
                <div *ngIf="street.errors.minlength">Η διεύθυνση πρέπει να έχει μήκος τουλάχιστον δύο χαρακτήρες</div>
              </div>
            </div>

            <div class="form-group">
               <label>Ταχυδρομικός κώδικας</label>
               <input type="text" name="postcode" class="form-control" [(ngModel)]="orderDetails.shippingInfo.post_code" #postcode="ngModel" [ngClass]="{'is-invalid' : f.submitted && postcode.invalid}" required>
               <div *ngIf="f.submitted && postcode.invalid" class="invalid-feedback">
                <div *ngIf="postcode.errors.required">Πρέπει να συμπληρώσετε την διέυθυνση</div>
                <div *ngIf="postcode.errors.minlength">Η διεύθυνση πρέπει να έχει μήκος τουλάχιστον δύο χαρακτήρες</div>
              </div>
           </div>

            <div class="form-group">
               <label>Τηλέφωνο</label>
               <input type="number" name="phone" class="form-control" [(ngModel)]="orderDetails.shippingInfo.phone" #phone="ngModel" [ngClass]="{'is-invalid' : f.submitted && phone.invalid}" required tel>
               <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
                <div *ngIf="phone.errors.required">Πρέπει να συμπληρώσετε το τηλέφωνο</div>
                <div *ngIf="phone.errors.phone">Το τηλέφωνο πρέπει να έχει τη σωστή μορφή</div>
            </div>
           </div>

           <h4 class="mt-4 mb-3">Μέθοδοι αποστολής</h4>

           <table class="table">
                <tbody>
                    <tr>
                        <td class="radio-button"><input type="radio" name="shipping-cost" [checked] ="isCourierChecked" (change)="changeShippingCost()"></td>
                        <td class="shipping-price">2€</td>
                        <td class="shipping-method">Courier</td>
                    </tr>
                    <tr>
                        <td class="radio-button"><input type="radio" name="shipping-cost" [checked] ="!isCourierChecked" (change)="changeShippingCost()"></td>
                        <td class="shipping-price">0€</td>
                        <td class="shipping-method">Παραλαβή από το κατάστημα</td>
                    </tr>
                </tbody>
           </table>

           <h4 class="mt-4 mb-3">Μέθοδοι πληρωμής</h4>

           <div class="billing-method"><input type="radio" checked="checked"><span>Αντικαταβολή</span></div>

           <h4 class="mt-4 mb-3">Διεύθυνση πληρωμής</h4>

           <div class="same-address"><input type="checkbox" [checked] = "orderDetails.isShippingAddressSameWithBillingAddress" 
            (change)="orderDetails.isShippingAddressSameWithBillingAddress = !orderDetails.isShippingAddressSameWithBillingAddress"> 
            Η διεύθυνση πληρωμής είναι ίδια με την διεύθυνση αποστολής</div>

            <section *ngIf="!orderDetails.isShippingAddressSameWithBillingAddress" class="billing-address">
                    <div class="form-group">
                      <label>Όνομα</label>
                      <input type="text" name="username" class="form-control" required minlength="2">
                    </div>
            
                    <div class="form-group">
                      <label>Επίθετο</label>
                      <input type="text" name="username" class="form-control" required minlength="2">
                    </div>
            
                    <div class="form-group">
                      <label>Διεύθυνση</label>
                      <input type="text" name="username" class="form-control" required minlength="2">
                    </div>
            
                    <div class="form-group">
                      <label>Ταχυδρομικός κώδικας</label>
                       <input type="text" name="username" class="form-control" required minlength="2">
                    </div>
            
                    <div class="form-group">
                      <label>Τηλέφωνο</label>
                      <input type="text" name="username" class="form-control" required minlength="2">
                    </div>
            </section>
        </form>   

    </div>

    <div class="col-sm-4">
        <h4 class="text-center">Περίληψη Παραγγελίας</h4>

        <div class="summary mt-4">
            <div><span class="title ">Υποσύνολο</span> <span class="price">{{getTotalCartPrice()}}€</span></div>
            <div><span class="title">Μεταφορικά</span> <span class="price">{{shippingCost}}€</span></div>
            <div id="total"><span class="title">Συνολο</span> <span class="price">{{getTotalCartPrice() + shippingCost}}€</span></div>
        </div>
        <button class="btn btn-block btn-primary mt-2" form="ngForm">Ολοκλήρωση αγοράς</button>

        <h5>Καλάθι</h5>

        <div *ngFor="let cartProduct of cartProducts" class="row cart-item">
            <div class="col-sm-4">
                <img class="d-block mx-auto" src="{{cartProduct?.imageUrl}}" alt="img"/>
            </div>
            <div class="col-sm-8">
                <div class="product-name">{{cartProduct?.name}}</div>
                <div class="product-price">{{cartProduct?.price}} €</div>
                <div class="product-quantity">Ποσότητα : <span>{{cartProduct?.quantity}}</span></div>
            </div>
        </div>
    </div>

  </div>

</div>  
</section>

<my-footer></my-footer>
