/* --- Breadcrumbs --- */

.breadcrumbs{
    padding-top: 8px;
    padding-bottom: 16px;
}

 /* --- Checkout --- */

  section.checkout{
    margin-top: 16px;
    margin-bottom: 48px;
  }

  section.checkout .form-group input{
    background:	#E0E0E0;
  }

  section.checkout table tbody tr td.radio-button{
    padding-right: 0;
  }

  section.checkout table tbody tr td.shipping-price{
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }

  section.checkout table tbody tr td.shipping-method{
    padding-left: 0;
  }

  section.checkout div.billing-method{
    padding: 0.75rem;
    border: 1px solid #E0E0E0;
  }

  section.checkout div.billing-method span{
    padding-left: 24px;
  }

  section.checkout div.same-address{
    padding-top: 16px;
    padding-bottom: 16px;
  }

  section.checkout .summary div{
    margin-bottom: 16px;
  }

  section.checkout .summary div span.title{
    float: left;
  }

  section.checkout .summary div span.price{
    float: right;
  }

  section.checkout .summary #total{
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
  }

  section.checkout .summary div::after{
    content: "";
    clear: both;
    display: table;
  }

  section.checkout h5{
    text-align: center;
    padding: 12px;
    margin-top: 24px;
    margin-bottom: 0;
    background-color: #E0E0E0;
  }

  section.checkout div.cart-item{
    border: 1.5px solid #E0E0E0;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 0 ;
    margin-right : 0 ;
  }

  section.checkout div.cart-item div.product-name{
    font-weight: 300;
    font-size: 18px;
  }

  section.checkout div.cart-item div.product-price{
    font-weight: 600;
  }

  section.checkout div.cart-item div.product-quantity span{
    font-weight: 600;
  }

  .spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
  }

  

