<h4 >Εταιρίες</h4>
<ul class="list-group">
      <li class="list-group-item" *ngFor="let currentBrand of numberOfProductsPerBrand">
        <input type="checkbox" class="mr-2" value="{{currentBrand?.brand}}" [(ngModel)]="currentBrand.checked" (change)="onSelectedBrands()">{{currentBrand?.brand}}
        <span>({{currentBrand?.number}})</span>
      </li>
</ul>

<h4>Τιμή</h4>
<ul class="list-group">
    <li class="list-group-item"  *ngFor="let priceRange of numberOfProductsPerPriceRange">
      <input type="checkbox" class="mr-2" value="{{priceRange?.rangeId}}" [(ngModel)]="priceRange.checked">{{priceRange?.min}}€ - {{priceRange?.max}}€
      <span>({{priceRange?.number}})</span>
    </li>
</ul>

<!-- <h4>Αξιολογήσεις</h4>
<ul class="list-group">
  <li *ngFor="let currentRating of ratings" class="list-group-item">
      <rating [uncheckedStars] = "currentRating.uncheckedStars"></rating>
  </li>
</ul>
-->
