/* --- Breadcrumbs --- */

.breadcrumbs{
    padding-top: 8px;
    padding-bottom: 16px;
}

/* --- Register --- */

section.register{
  padding-bottom: 32px;
}

section.register h1{
  text-align: center;
  margin-bottom: 32px;
}

section.register form h4{
  margin-top:32px;
  margin-bottom: 16px;
}

section.register form .submit p{
  display: inline;
}

section.register form .form-group input{
  background:	#E0E0E0;
}

section.register form .submit{
  text-align: center;
  margin-top: 32px
}

section.register form .submit button{
padding-left: 24px;
padding-right: 24px;
}