<navigation-bar></navigation-bar>

<!-- Content -->
<section class="container">

  <h2>Αναζήτηση για : {{userSearchString}}</h2>

  <div class="row category-content">

    <div class="col-md-3 sidebar">
        <search-sidebar [searchTerms] = "keywords"></search-sidebar>
    </div>

    <div class="col-md-9">
        <div class="mb-5">
          <span class="mx-4">Προιόντα {{productNumberLow}}-{{productNumberHigh}} από {{productPage?.totalElements}}</span>
          <span>Κατάταξη ως προς:</span>
          <select class="ml-2" [(ngModel)]="selectedValue" (ngModelChange)="onOrderChange($event)">
            <option *ngFor="let option of selectOptions;" [value]="option.value">{{option.name}}</option>
          </select>
        </div>

        <div class="row product-content">
            <div class="col-sm-6 col-md-6 col-lg-4 mb-5" *ngFor="let productItem of products">
                 <product-item [product] = "productItem"></product-item>
            </div>
        </div>

        <ul class="pagination">
            <li *ngFor="let page of pageNumbers; let i = index;" [ngClass] = " i == currentPage ? 'page-item active' : 'page-item'">
              <a class="page-link" routerLink="/search" [queryParams]="{ keyword : keywords, page: i}">{{page}}</a>
            </li>
        </ul> 

    </div>
  </div>
</section>

<i *ngIf="!isGetSearchProductsRequestDone" class="fas fa-sync-alt fa-2x fa-spin spinner" ></i>

<my-footer></my-footer>
