<!-- Footer -->
<footer  class="footer">
  <div class="container">
      <div class="row">
          <div class="col-sm-4">
              <h3>Πληροφοριες</h3>
              <div class="menu">
                  <a>Η Εταιρία μας</a>
                  <a>Όροι Χρήσης</a>
                  <a>Ασφάλεια συναλλαγών</a>
                  <a>Προστασία Προσωπικών Δεδομένων</a>
              </div>
          </div>
          <div class="col-sm-4">
              <h3>Παραγγελιες</h3>
              <div class="menu">
                  <a>Τρόποι Παραγγελίας</a>
                  <a>Τρόποι Πληρωμής</a>
                  <a>Τρόποι Αποστολής</a>
                  <a>Επιστροφές Προιόντων</a>
              </div>
          </div>
          <div class="col-sm-4">
              <h3>Επικοινωνια</h3>
              <div class="menu">
                  <a><i class="fas fa-map-marker-alt mr-2"></i>My Company Glasgow D04 89GR</a>
                  <a><i class="fas fa-phone mr-2"></i>231044444</a>
                  <a><i class="fas fa-envelope mr-2"></i>livedemo-admin@templatemonster.me</a>
                  <a><i class="fas fa-clock mr-2"></i>7 days a week from 8:00 am to 5:00 pm</a>
              </div>
          </div>
      </div>
  </div>  
</footer>

